/* table{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    
}
table,tr,td{         
    border: 2px solid black;
    border-collapse:collapse ;
}
td {
    width: auto;
    height: auto;
    text-align: center;
}
h1{
    color: red;
} */

