*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    height: 10%;
    padding: 10px;
}
.segunda_caja{
    height: 50%;
}
.primera_columna{
    margin-left: 5%;
    margin-top: 8%;
    float:left;
    height: 100%;
    width:20%;
}
.segunda_columna{
    margin-top: -10%;
    text-align: center;
    float:left;
    height: 100%;
    width: 50%;   
}
.tercera_columna{
    margin-left: 5%;
    margin-top: 8%;
    float:left;
    height: 100%;
    width: 20%;
}
body{
    min-height: 100vh;
    background: #050505;
}
.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg); /*Ajustar velocidad*/
    }
}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.cube div span img{
    position: absolute;
    object-fit: cover;
    width:100%;
    height:100%;
}
.cube div span h2:nth-child(1){
    transform: translateZ(0) translateY(20px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px); /*Entiendo que rotate es para girar el div y el translate para cambiar de posicion*/
}
.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-360px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6), 
    0 0 400px rgba(0, 255, 0, 0.8), 
    0 0 500px rgba(0, 255, 0, 0.1)
}
:root{
    --clr-neon: hsl(120, 77%, 54%);
    --clr-bg: hsl(323 21% 16%);
}
.box{
    position: relative;
    margin: 280px;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,var(--clr-neon),var(--clr-neon));
    transform-origin: bottom right;
    animation: animate2 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,var(--clr-neon),var(--clr-neon));
    transform-origin: bottom right;
    animation: animate2 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d; /*Con el negro de fondo también me gusta: #050505, no con transaprent porque entonces se ven los cuadrados verdes girar*/
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    color: var(--clr-neon);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: var(--clr-neon);
    pointer-events: none;
    letter-spacing: 0.05;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: var(--clr-neon);
    transform:translateX(-10px), translateY(-34px);
    font-size: 0.75em;
}
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--clr-neon);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 44px;
}
input[type="submit"]{
    border: none;
    outline: none;
    background: var(--clr-neon);
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
input[type="submit"]:active{
    opacity: 0.8;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin-top: 15px;
    font-size: 0.75em;
    color: var(--clr-neon);
    text-decoration: none;
}